<%-include('./layout/header') %>
<%-include('./layout/usernavbar') %>
<br><br>
<%  if(errorMessage){ %>


    <div class="animate__animated animate__fadeOutRightBig animate__delay-5s" style="  position: absolute; top:100px; right: 0px;">
    <div  class="p-2  px-3 rounded animate__animated animate__fadeInRightBig   bg-color" >
        <h5 class="">  <i class="fa fa-moon-o"></i>  <%=errorMessage%></h5>
    </div>
    </div>
    <%}%>

<div class="container">


<div class="row  justify-content-center">
    <div class="col-md-4 border p-3">
        <form method="POST" action="/user/changepassword">
        <label for="oldpassword">OLD PASSWORD</label>
        <input type="text" class="form-control" name="old" id="oldpassword">
        <br>

        <label for="newpassword">NEW PASSWORD</label>
        <input type="text" class="form-control" name="new" id="newpassword">
        <br>

        <label for="confirmpassword">CONFIRM PASSWORD</label>
        <input type="text" class="form-control" name="confirm" id="confirmpassword">
        <br>

        <button class="btn btn-danger"> UPDATE</button>
        </form>

    </div>

</div>
</div>


<%-include('./layout/footer') %>