<%-include('./layout/header')%>
<%-include('./layout/navbar')%>
<br>
<br>
<div style="position: absolute; top: 0; width: 100%; z-index: -10;"  id="hideinwhite" class="d-none">
    <img src="/images/Vector 1.svg">
</div>

<div style="position: absolute; top: 0; width: 100%; z-index: -10;"  id="hideinwhite" class="d-none">
    <img src="/images/halfcircle.svg">
</div>
<div class="row justify-content-center">

    <div class="col-md-4 col-8">
        <form method="POST" action="/user/forgotpassword">
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">

        <label for="email">Email Address</label>
        <input type="email" id="email" placeholder="Enter Your Email" class="form-control" name="email">
        <br>
        <button class="btn btn-danger">Click</button>
    </form>
    </div>

</div>


<%-include('./layout/footer')%>