<%-include('./layout/header')%>
<%-include('./layout/adminnavbar')%>
<br>
<br>
<div class="container">
    <form  method="POST" action="/admin/makeadmin">
        <input type="email" name="email" placeholder="enter email">
        <button class=""> Make Admin</button>
    
    </form>
<hr>
    
</div>



<%-include('./layout/footer')%>