<%- include('./layout/header') %>
<%- include('./layout/usernavbar') %>
<br>

<div class="row justify-content-around">
    
    <div class="col-md-4  p-5" id="color">

        <a href="/user/opportunities ">
        <div class="border shadow p-2 text-center" id="whiteindark">
            <i class="fa fa-graduation-cap fa-3x"></i>

            <h1 class="text-center">Opportunities</h1>
        
        </div>
        </a>
        
    </div>
    <div class="col-md-4  p-5" id="color">

        <a href="/user/blog ">
        <div class="border shadow p-2 text-center" id="whiteindark">
            <i class="fab fa-blogger-b fa-3x"></i>

            <h1 class="text-center">BLOG</h1>
        
        </div>
        </a>
        
    </div>
    
</div>

<%- include('./layout/footer') %>
<style>
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        text-decoration: none;
        color: black;
    }
</style>